flask
flask_login
flask_migrate
WTForms
flask_wtf
flask_sqlalchemy
flask-restx
sqlalchemy
psycopg2-binary
python-dotenv
python-decouple
quantsbin
scipy
matplotlib
requests
pandas
gunicorn
jinja2
Werkzeug
email_validator